:root {
  --accent-color: #fb6d3a;
}

body {
  background: #f5f7fa;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  min-height: 100%;
}

main {
  padding: 50px;
  text-align: justify;
  height: 1582px;
}

aside {
  background: #1e2939;
  padding: 10px 20px;
}

.aside-block {
  margin-bottom: 40px;
}

.aside-header {
  color: #ffffff;
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
}

.cv-photo {
  border: 5px solid whitesmoke;
  border-radius: 50%;
  margin-bottom: 30px;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  background: #eef0e4;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.contact {
  padding: 0;
  list-style-type: none;
}

.contact__list {
  padding-bottom: 5px;
  color: #ffffff;
}

.contact__link {
  text-decoration: none;
  color: #ffffff;
}

.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

.icon {
  fill: var(--accent-color);
}

.social-icon {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.social-icon--hover:hover,
.social-icon--hover:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.social-icon-fill {
  fill: #ffffff;
}

.list-secondary {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 24px;
  padding-left: 20px;
}
.list-secondary-item {
  color: #ffffff;
}

.description {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}

.header-primary {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 12px;
}

.list-primary-item {
  line-height: 24px;
  color: #595959;
}

.tech-skills {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.job-name {
  font-size: 16px;
  line-height: 20px;
}

.job-name--svg {
  padding: 0 5px;
}

.highlight {
  color: var(--accent-color);
}

.job-date {
  line-height: 15px;
  color: #a8a8a8;
}

.job-details {
  font-weight: 400;
  color: var(--accent-color);
  opacity: 0.5;
}

.job-list {
  color: #595959;
  padding-left: 0;
  list-style-position: inside;
}

.work-experience {
  margin-bottom: 20px;
}

.rodo {
  font-style: italic;
  opacity: 0.4;
  margin-top: 140px;
}
